@import "../../../styles/app.scss";

$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 15px;

.HamburgerMenu {
  margin: auto;
  width: $bar-width;
  height: $bar-height + $bar-spacing * 2;
  background: transparent;
  border: 0;
  top: 2rem;
  right: 1rem;
  transform: translateX(0);
  transition: transform 1s ease-in-out;

  &__menu,
  &__menu:after,
  &__menu:before {
    width: $bar-width;
    height: $bar-height;
  }

  &__menu {
  position: relative;
  // transform: translateY($bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

    &.animate {
      background: rgba(255, 255, 255, 0);

      &:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: $bar-spacing;
      background: rgba(255, 255, 255, 1);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: $bar-spacing;
      background: rgba(255, 255, 255, 1);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &__open {
    transform: translateX(-290px);
    z-index: 5;
  }
}
