@import "../../styles/app.scss";

.Header {

  &__mini-cart,
  &__score-warning,
  &__mobile-nav {
    z-index: 5;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    position: absolute;

    &--active {
      transform: translateX(0);
      position: fixed;
    }
  }

  &__score-preview {
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    position: absolute;

    &--active {
      transform: translateX(0);
      position: fixed;
    }
  }
}
