.jovial-sans {
  font-family: 'JovialSans', sans-serif;
}

.jovial-sans-bold {
  font-family: 'JovialSansBld', sans-serif;
}

.jovial-sans-light {
  font-family: 'JovialSansLt', sans-serif;
}

.russel-alt {
  font-family: 'RussellAlt', sans-serif;
}

.russel-alt-it {
  font-family: 'RussellAltIt', sans-serif;
}

.russel-rg {
  font-family: 'RussellRg', sans-serif;
}

.russel-rg-it {
  font-family: 'RussellRgIt', sans-serif;
}

.rock-out {
  font-family: 'RockOut-Rg', sans-serif;
}

.true-sketch-rg {
  font-family: 'TrueSketchRg', sans-serif;
}

.true-sketch-it {
  font-family: 'TrueSketchIt', sans-serif;
}

.mate-sc {
  font-family: 'Mate SC', serif;
}


.vt-323 {
  font-family: 'VT323', monospace;
}

.playfair {
  font-family: 'Playfair Display SC', serif;
}

@font-face {
  font-family: "JovialSans";
  src: url('/assets/JovialSans.otf');
}

@font-face {
  font-family: "JovialSansBld";
  src: url('/assets/JovialSansBold.otf');
}

@font-face {
  font-family: "JovialSansLt";
  src: url('/assets/JovialSansLt.otf');
}

@font-face {
  font-family: "RussellAlt";
  src: url('/assets/RussellAlt.otf');
}

@font-face {
  font-family: "RussellAltIt";
  src: url('/assets/RussellAltIt.otf');
}

@font-face {
  font-family: "RussellRg";
  src: url('/assets/RussellRg.otf');
}

@font-face {
  font-family: "RussellRgIt";
  src: url('/assets/RussellRgIt.otf');
}

@font-face {
  font-family: "RockOut-Rg";
  src: url('/assets/RockOut-Rg.otf');
}

@font-face {
  font-family: "TrueSketchRg";
  src: url('/assets/TrueSketchRg.otf');
}

@font-face {
  font-family: "TrueSketchIt";
  src: url('/assets/TrueSketchIt.otf');
}
